.info {
  background-color: var(--White-900);
  padding: 24px 20px 40px 20px;
  border-radius: 24px;
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
  color: var(--Black-800, #303030);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;

  /* 16/Med */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  flex-shrink: 0;
  min-width: 340px;
}

.skills span {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  background: var(--White-900);
  border: 1px solid var(--Black-200, #bababa);

  &.selected {
    border: 1px solid var(--Purple-700, #6a0bff);
  }
}

.words {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  color: var(--Purple-700, #6a0bff);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
