.container {
  display: flex;
  height: 48px;
  padding: 12px 24px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 68px;
  border: 1px solid var(--Black-50, #e8e8e8);
  background: var(--White-900, #fff);
}

.icon {
  color: var(--Black-300);
}

.input {
  border: none;
  outline: none;
  padding: 5px;
  flex: 1;
  color: var(--Black-900, #191919);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;

  /* 16/Reg */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */

  &::placeholder {
    color: var(--Black-300, #a3a3a3);
  }
}
