.container {
  margin-bottom: 20px;
}

h3 {
  color: var(--Black-700, #474747);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;

  /* 14/Reg */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */

  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 150px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.list.expanded {
  max-height: none;
}

.tag {
  display: flex;
  padding: 10px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  background: var(--White-900);
  border: 1px solid var(--Black-200, #bababa);

  &.selected {
    border: 1px solid var(--Purple-700, #6a0bff);
  }
}

.showMore {
  color: var(--Purple-800, #5509cc);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
  background: var(--White-900);
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
