.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.pagination button {
  background: var(--White-900);
}

.list {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  color: var(--Black-700, #474747);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;
  text-overflow: ellipsis;

  /* 14/Med */
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 16.8px */
}

.pagination .active {
  border-radius: 2px;
  background: var(--Purple-700, #6a0bff);
  display: flex;
  padding: 2px 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--White-900);
}
