.answer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 1;
}

.head h3,
.short__answer h3,
.long__answer h3 {
  color: var(--Black-800, #303030);
  font-feature-settings: "ss01" on, "cv01" on, "cv11" on;

  /* 20/Med */
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 24px */
}
.head,
.short__answer,
.long__answer,
.info {
  padding: 24px;
  /* 16/Med */
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
}
